*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}
.card{
    width: 400px;
    height: 300px;
    border: 1px solid gray;
    perspective: 1000px;
}
.bind_sides{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .5s;
    transform-style: preserve-3d;
}
.bind_sides:hover{
    transform: rotateY(180deg);
}
.front,.back{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}
.front{
    background-image: url("./img/6230cdaf0dd319702645eaee_Web3\ Stack\ Diagram.png");
    background-size: cover;
}
.back{
    text-align: center;
    background-color: aqua;
    color: black;
    transform: rotateY(180deg);
}